
test.py
testing/anothertext.py
__pycache__/sql.cpython-39.pyc
__pycache__/sql.cpython-310.pyc
__pycache__/ctkFunctions.cpython-39.pyc
__pycache__/ctk.cpython-39.pyc
.gitattributes
ctk/__pycache__/ctk.cpython-310.pyc
ctk/__pycache__/ctkFunctions.cpython-310.pyc
